In [2]:
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser
import time
import os
import csv

url = "https://flysanantonio.com/home/flights/nonstop-destinations/"

In [3]:
executable_path = {'executable_path':"C:/Program Files/Google/Chrome/Chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [18]:
browser.visit(url)
time.sleep(1)

airportNames = []
airportCodes = []
airportList = []
airportDict = {}


html = browser.html
soup = BeautifulSoup(html, 'html.parser')

airportName = soup.find_all('span', class_="title")
airportCode = soup.find_all('span', class_='airport-code')
    
for (title, code) in zip(airportName, airportCode):
    airportDict = {}
    airportDict['Title'] = title.text
    airportDict['Code'] = code.text
    airportList.append(airportDict)

In [20]:
airportList
airport_df = pd.DataFrame(airportList)
airport_df

# airportList

                           Title Code
0                Albuquerque, NM  ABQ
1                    Atlanta, GA  ATL
2                  Baltimore, MD  BWI
3                     Boston, MA  BOS
4                 Cancun, Mexico  CUN
5                  Charlotte, NC  CLT
6             Chicago-O’Hare, IL  ORD
7             Chicago-Midway, IL  MDW
8           Colorado Springs, CO  COS
9                Dallas-Love, TX  DAL
10         Dallas/Fort Worth, TX  DFW
11                    Denver, CO  DEN
12                   Detroit, MI  DTW
13                   El Paso, TX  ELP
14           Guadalajara, Mexico  GDL
15  Houston-Intercontinental, TX  IAH
16             Houston-Hobby, TX  HOU
17               Kansas City, MO  MCI
18                 Las Vegas, NV  LAS
19                  Leon, Mexico  BJX
20               Los Angeles, CA  LAX
21           Mexico City, Mexico  MEX
22                     Miami, FL  MIA
23      Minneapolis/St. Paul, MN  MSP
24             Monterrey, Mexico  MTY
25                 Nashville, TN  BNA
26               New Orleans, LA  MSY
27                  New York, NY  JFK
28           New York/Newark, NJ  EWR
29             Oklahoma City, OK  OKC
30                   Orlando, FL  MCO
31              Philadelphia, PA  PHL
32                   Phoenix, AZ  PHX
33            Salt Lake City, UT  SLC
34                 San Diego, CA  SAN
35             San Francisco, CA  SFO
36                   Seattle, WA  SEA
37                 St. Louis, MO  STL
38                     Tampa, FL  TPA
39         Washington-Dulles, VA  IAD