In [113]:
# Dependencies
import csv
import requests
import pandas
import json
import requests
from config import api_key

In [114]:
# Save config information
url = "https://api.openweathermap.org/data/2.5/weather?"
units = "imperial"


# Build partial query URL
query_url = f"{url}appid={api_key}&units={units}&q="

In [115]:
cities = ["Colorado Springs", "Philadelphia", "Newark", "St Louis", "Dulles", "San Francisco", "El Paso", "Guadalajara", "Houston", "Kansas City", "Las Vegas", "Leon", "Los Angeles", "Miami", "Mexico City", "Monterrey", "Minneapolis", "New Orleans", "Nashville", "St. Louis", "Tampa", "San Diego", "Salt Lake", "Oklahoma", "Orlando", "Albuquerque", "Atlanta", "Baltimore", "Boston", "Cancun", "Charlotte", "Chicago", "Dallas", "Denver", "Detroit", "San Antonio", "Seattle"]
# set up lists to hold reponse info
lat = []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    response = requests.get(query_url + city).json()
    lat.append(response['coord']['lat'])
    temp.append(response['main']['temp'])

print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")

The latitude information received is: [38.8339, 39.9523, 40.7357, 38.6273, 39.0376, 37.7749, 31.8001, 20.6667, 29.7633, 39.0997, 36.175, 21.1167, 34.0522, 25.7743, 19.4285, 25.6667, 44.98, 29.9547, 36.1659, 38.6273, 27.9475, 32.7153, 40.6255, 35.5501, 28.5383, 35.0845, 33.749, 39.2904, 42.3584, 21.1743, 35.2271, 41.85, 32.7668, 39.7392, 42.3314, 29.4241, 47.6062]
The temperature information received is: [47.53, 52.66, 54.64, 48.61, 50.72, 61.14, 67.23, 60.57, 72.73, 54.5, 69.44, 60.26, 64.02, 79.63, 61.05, 74.57, 44.17, 67.95, 58.53, 48.61, 72.27, 63.45, 53.69, 62.04, 69.37, 58.98, 59.07, 52.45, 49.57, 80.06, 57.7, 46.89, 77.83, 50.68, 42.26, 73.72, 58.53]

In [116]:
print(len(lat), len(temp), len(cities))

37 37 37

In [117]:
# create a data frame from cities, lat, and temp
weather_dict = {
    "city": cities,
    "lat": lat,
    "temp": temp
}
weather_data = pd.DataFrame(weather_dict)
weather_data.head()

               city      lat   temp
0  Colorado Springs  38.8339  47.53
1      Philadelphia  39.9523  52.66
2            Newark  40.7357  54.64
3          St Louis  38.6273  48.61
4            Dulles  39.0376  50.72

In [124]:
# Use API to determine actual temperature
response = requests.get(query_url + "Colorado Springs").json()
actual_temp = response['main']['temp']

print(f"The actual temperature of Cities are {actual_temp}")

The actual temperature of Cities are 47.53

In [122]:
weather_data.to_csv("Weather.csv")