In [113]:
# Dependencies
import csv
import requests
import pandas
import json
import requests
from config import api_key

In [127]:
# Save config information
url = "https://api.openweathermap.org/data/2.5/weather?"
units = "imperial"


# Build partial query URL
query_url = f"{url}appid={api_key}&units={units}&q="

In [128]:
#Direct Flight Weather API
cities = ["Albuquerque", "Atlanta", "Baltimore", "Boston", "Cancun",
"Charlotte", "Chicago", "Colorado Springs", "Dallas","Fort Worth","Denver", "Detroit", "El Paso", "Guadalajara", "Houston", "Houston", "Kansas City", "Las Vegas",
"Leon", "Los Angeles" ,"Mexico City", "Miami", "Minneapolis", "Monterrey", "Nashville", "New Orleans","New York City", "New York City",
"Oklahoma City","Orlando", "Philadelphia","Phoenix","Salt Lake City", "San Diego","San Francisco","Seattle",
"St. Louis", "Tampa", "Washington DC"]
# set up lists to hold reponse info
lat = []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    response = requests.get(query_url + city).json()
    lat.append(response['coord']['lat'])
    temp.append(response['main']['temp'])

print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")

The latitude information received is: [35.0845, 33.749, 39.2904, 42.3584, 21.1743, 35.2271, 41.85, 38.8339, 32.7668, 32.7254, 39.7392, 42.3314, 31.8001, 20.6667, 29.7633, 29.7633, 39.0997, 36.175, 21.1167, 34.0522, 19.4285, 25.7743, 44.98, 25.6667, 36.1659, 29.9547, 40.7143, 40.7143, 35.4676, 28.5383, 39.9523, 33.4484, 40.7608, 32.7153, 37.7749, 47.6062, 38.6273, 27.9475, 38.8951]
The temperature information received is: [56.01, 56.64, 53.96, 49.5, 78.73, 57.2, 46.08, 46.9, 76.96, 76.59, 50.34, 41.99, 66.83, 62.37, 72.25, 72.25, 53.89, 68.99, 64.45, 63.9, 60.19, 79.32, 43.03, 73.56, 59.38, 67.21, 56.01, 56.01, 62.58, 69.08, 52.38, 65.86, 53.33, 63.37, 61.16, 57.69, 48.47, 71.33, 53.4]

In [129]:
print(len(lat), len(temp), len(cities))

39 39 39

In [130]:
# create a data frame from cities, lat, and temp
weather_dict = {
    "city": cities,
    "lat": lat,
    "temp": temp
}
weather_data = pd.DataFrame(weather_dict)
weather_data.head()

          city      lat   temp
0  Albuquerque  35.0845  56.01
1      Atlanta  33.7490  56.64
2    Baltimore  39.2904  53.96
3       Boston  42.3584  49.50
4       Cancun  21.1743  78.73

In [131]:
# Use API to determine actual temperature
response = requests.get(query_url + "Colorado Springs").json()
actual_temp = response['main']['temp']

print(f"The actual temperature of Cities are {actual_temp}")

The actual temperature of Cities are 46.9

In [132]:
weather_data.to_csv("direct.csv")

In [133]:
#Indirect Flight Weather API
cities2 = ['Fort Lauderdale','Honolulu','Portland','Tampa','Cincinnati','Oakland','Pittsburgh','San Jose','Raleigh','Memphis',
 'Santa Ana','Cleveland','Indianapolis','Columbus','Tucson','Buffalo','Anchorage','Jacksonville','Hartford','West Palm Beach','Kahului','Sacramento','Norfolk','Reno','Burbank','Long Beach','Providence','Oshkosh','Omaha','Louisville','Ontario','Syracuse','White Plains','Albany','Charleston','Birmingham','Richmond','Rochester','Savannah','Dayton','Spokane','Boise','Manchester',
 'Fort Myers','Portland','Santa Barbara','Wichita','Palm Springs','Madison','Grand Rapids','Des Moines','Burlington','Little Rock','Greensboro','Tulsa','Kailua','Santa Monica','Pensacola','Teterboro','Van Nuys','Rapid City','Knoxville','Tallahassee','Fresno','Sarasota']
# set up lists to hold reponse info
lat = []
temp = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
    response = requests.get(query_url + city).json()
    lat.append(response['coord']['lat'])
    temp.append(response['main']['temp'])

print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {temp}")

The latitude information received is: [35.0845, 33.749, 39.2904, 42.3584, 21.1743, 35.2271, 41.85, 38.8339, 32.7668, 32.7254, 39.7392, 42.3314, 31.8001, 20.6667, 29.7633, 29.7633, 39.0997, 36.175, 21.1167, 34.0522, 19.4285, 25.7743, 44.98, 25.6667, 36.1659, 29.9547, 40.7143, 40.7143, 35.4676, 28.5383, 39.9523, 33.4484, 40.7608, 32.7153, 37.7749, 47.6062, 38.6273, 27.9475, 38.8951]
The temperature information received is: [56.01, 56.64, 53.96, 49.5, 78.73, 56.95, 46.08, 46.9, 76.96, 76.59, 50.34, 41.99, 66.83, 62.37, 72.25, 72.25, 53.89, 68.99, 64.45, 63.9, 60.19, 79.29, 42.76, 73.56, 59.18, 67.21, 56.03, 56.03, 62.58, 69.08, 52.38, 65.86, 53.33, 63.37, 61.16, 57.69, 48.47, 71.33, 53.4]

In [136]:
print(len(lat), len(temp), len(cities))

39 39 39

In [134]:
# create a data frame from cities, lat, and temp
weather_dict2 = {
    "city": cities,
    "lat": lat,
    "temp": temp
}
weather_data2 = pd.DataFrame(weather_dict2)
weather_data2.head()

          city      lat   temp
0  Albuquerque  35.0845  56.01
1      Atlanta  33.7490  56.64
2    Baltimore  39.2904  53.96
3       Boston  42.3584  49.50
4       Cancun  21.1743  78.73

In [135]:
weather_data.to_csv("Indirect.csv")